.Dialog {
  flex: 1;
  text-align: left;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.items-dlg {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
}

.empty-dlg {
  flex: 1;
}
