.Dialog {
  flex: 1;
  text-align: left;
  height: 100%;
}

.items-dlg {
  /*display: flex;
  justify-content: center; Центрирование по горизонтали
  align-items: center;     Центрирование по вертикали */
  margin: 10px;
}


