.StartUl {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  font-size: 1.2em;
  text-align: left;
}

.StartUl ul {
  flex: 1;
  padding: 10px 20px;
}

.StartUl li {
  margin: 10px 0;
  line-height: 1.2em;
}
