#StatsUl .title {
  margin: 7px;
  padding: 5px;
  font-size: 1.2em;

}

#StatsUl .item {
  margin: 15px 7px; 
  padding: 5px;
  border-radius: 5px; 
  background-color: #eee;
  border: 0.5px solid #ddd;  
  text-align: left;
}

#StatsUl .name {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  width: 70%;
}

#StatsUl .value {
  display: inline-block;
  min-width: 15px;
  width: 15%;
  vertical-align: middle;
  padding: 6px 10px;
  background-color: #f9f9f9;  
}

